<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dalan</title>
  <link rel="icon" href="../asset/logo.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../style/destinasion.css">
  <link rel="preload" href="../asset/bromo.webp">
  <link rel="preload" href="../asset/sentani.webp">
  <link rel="preload" href="../asset/bandung.webp">
</head>
<body>
  <div class="container-fluid" id="home">
    <div class="lineWrapper d-xxl-none d-xl-none d-lg-flex justify-content-center align-items-center">
      <div class="line"></div>
    </div>
    <header class="container-fluid d-xxl-flex d-xl-flex d-lg-none justify-content-center align-items-center shadow-sm py-3 position-fixed">
      <section class="container-lg d-flex flex-xxl-row flex-xl-row justify-content-between align-items-center">
        <div>
          <h1 class="title"><span class="dText">D</span>alan</h1>
        </div>
        <div class="inputWrapper d-xxl-flex d-xl-flex d-lg-none flex-row align-items-center border border-0 py-2 px-3 rounded-2">
          <div>
            <i class="searchIcon bi bi-search fs-5 d-flex justify-content-center align-items-center"></i>
          </div>
          <div class="ms-2">
            <input class="border-0 fw-light" type="text" placeholder="Aku mau ke...">
          </div>
        </div>
        <nav class="w-50">
          <ul class="d-flex flex-xxl-row flex-xl-row justify-content-evenly align-items-center">
            <li class="list-unstyled">
              <a class="text-decoration-none" href="../index.html">home</a>
            </li>
            <li class="list-unstyled">
              <a class="text-decoration-none" href="destinasion.html">destinasi</a>
            </li>
            <li class="list-unstyled">
              <a class="text-decoration-none" href="tips.html">tips</a>
            </li>
            <li class="list-unstyled">
              <a class="text-decoration-none" href="blog.html">blog</a>
            </li>
          </ul>
        </nav>
        <div>
          <a href="https://api.whatsapp.com/send/?phone=%2B6281262156159&text=Halo+FrogTel&type=phone_number&app_absent=0" class="btn py-2 px-3 fw-medium text-light">Contact</a>
        </div>
      </section>
    </header>
    <main class="container-fluid d-flex justify-content-center align-items-center pt-5">
      <section class="w-75 h-auto d-flex flex-column align-items-center">
        <div class="row justify-content-xxl-evenly justify-content-xl-evenly justify-content-lg-evenly justify-content-md-start justify-content-sm-start align-items-center">
          <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-7">
            <img class="img-fluid" src="../asset/bromo.webp" alt="">
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-12 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-4 mt-sm-4">
            <h1>Gunung Bromo</h1>
            <p class="mt-3">Gunung Bromo atau dalam bahasa Tengger dieja "Brama", juga disebut Kaldera Tengger, adalah sebuah gunung berapi aktif di Jawa Timur, Indonesia. Gunung ini memiliki ketinggian 2.329 meter di atas permukaan laut dan berada dalam empat wilayah kabupaten, yakni Kabupaten Probolinggo, Kabupaten Pasuruan, Kabupaten Lumajang, dan Kabupaten Malang. Gunung Bromo terkenal sebagai objek wisata utama di Jawa Timur.</p>
          </div>
        </div>
        <hr class="my-5 w-100">
        <div class="row justify-content-xxl-evenly justify-content-xl-evenly justify-content-lg-evenly justify-content-md-start justify-content-sm-start align-items-center">
          <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-7">
            <img class="img-fluid" src="../asset/sentani.webp" alt="">
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-12 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-4 mt-sm-4">
            <h1>Danau Sentani</h1>
            <p class="mt-3">Danau Sentani adalah danau yang terletak di Papua Indonesia. Danau Sentani berada di bawah lereng Pegunungan Cagar Alam Cyclops yang memiliki luas sekitar 245.000 hektar. Danau ini terbentang antaxxlra Kota Jayapura dan Kabupaten Jayapura, Papua. Danau Sentani yang memiliki luas sekitar 9.360 hektar dan berada pada ketinggian 75 mdpl. Danau Sentani merupakan danau terluas di Papua. Di danau ini juga terdapat 21 buah pulau kecil menghiasi danau yang indah ini. Arti kata Sentani berarti "di sini kami tinggal dengan damai”.</p>
          </div>
        </div>
        <hr class="my-5 w-100">
        <div class="row justify-content-xxl-evenly justify-content-xl-evenly justify-content-lg-evenly justify-content-md-start justify-content-sm-start align-items-center">
          <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-7">
            <img class="img-fluid" src="../asset/bandung.webp" alt="">
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-12 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-4 mt-sm-4">
            <h1>Kota Bandung</h1>
            <p class="mt-3">Kota Bandung dikelilingi oleh pegunungan, sehingga bentuk morfologi wilayahnya bagaikan sebuah mangkuk raksasa, secara geografis kota ini terletak di tengah-tengah provinsi Jawa Barat, serta berada pada ketinggian ±768 m di atas permukaan laut, dengan titik tertinggi di berada di sebelah utara dengan ketinggian 1.050 meter  di atas permukaan laut dan sebelah selatan merupakan kawasan rendah dengan ketinggian 675 meter di atas permukaan laut.</p>
          </div>
        </div>
      </section>
    </main>
  </div>
  <footer class="container-fluid my-5">
    <section class="w-100 h-100 rounded-5 d-flex flex-column flex-wrap justify-content-between text-light pt-4 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-5">
      <div class="d-flex flex-xxl-row flex-xl-row flex-lg-column justify-content-between align-items-start">
        <div>
          <div>
            <h1 class="title2">D<span class="fw-bold">alan</span></h1>
          </div>
          <div>
            <h3 class="fw-normal">Kapan lagi bisa keliling Nusantara</h3>
          </div>
        </div>
        <div>
          <div>
            <h4>Contact</h4>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <div>
              <i class="bi bi-envelope-fill d-flex justify-content-center align-items-center fs-4"></i>
            </div>
            <div>
              <h5 class="fw-light ms-3">dalan@gmail.com</h5>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-center mt-3">
            <div>
              <i class="bi bi-telephone-fill d-flex justify-content-center align-items-center fs-4"></i>
            </div>
            <div>
              <h5 class="fw-light ms-3">+62 1234 5678</h5>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h4>Company</h4>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start my-3">
            <a href="career.html" class="fw-light text-light text-decoration-none">Career</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start">
            <a href="http://joan-with-rumahweb.great-site.net/home.php?i=1" class="fw-light text-light text-decoration-none">Developer</a>
          </div>
        </div>
        <div>
          <div>
            <h4>Company</h4>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a href="../index.html" class="fw-light text-light text-decoration-none">home</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a href="destinasion.html" class="fw-light text-light text-decoration-none">destinasi</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a href="tips.html" class="fw-light text-light text-decoration-none">tips</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a href="blog.html" class="fw-light text-light text-decoration-none">blog</a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center border-top mt-5 py-4">
        <div>
          <h5>© 2023 Ketjeh Nusantara</h5>
        </div>
        <div class="d-flex justify-content-evenly align-items-center w-25">
          <i class="bi bi-instagram d-flex justify-content-center align-items-center fs-5"></i>
          <i class="bi bi-twitter d-flex justify-content-center align-items-center fs-5"></i>
          <i class="bi bi-youtube d-flex justify-content-center align-items-center fs-5"></i>
          <i class="bi bi-facebook d-flex justify-content-center align-items-center fs-5"></i>
        </div>
      </div>
    </section>
  </footer>
  <script src="../js/header.js"></script>
</body>
</html>