<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dalan</title>
  <link rel="icon" href="asset/logo.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../style/tips.css">
</head>
<body>
  <div class="container-fluid" id="home">
    <div class="lineWrapper d-xxl-none d-xl-none d-lg-flex justify-content-center align-items-center">
      <div class="line"></div>
    </div>
    <header class="container-fluid d-xxl-flex d-xl-flex d-lg-none justify-content-center align-items-center shadow-sm py-3 position-fixed">
      <section class="container-lg d-flex flex-xxl-row flex-xl-row justify-content-between align-items-center">
        <div>
          <h1 class="title"><span class="dText">D</span>alan</h1>
        </div>
        <div class="inputWrapper d-xxl-flex d-xl-flex d-lg-none flex-row align-items-center border border-0 py-2 px-3 rounded-2">
          <div>
            <i class="searchIcon bi bi-search fs-5 d-flex justify-content-center align-items-center"></i>
          </div>
          <div class="ms-2">
            <input class="border-0 fw-light" type="text" placeholder="Aku mau ke...">
          </div>
        </div>
        <nav class="w-50">
          <ul class="d-flex flex-xxl-row flex-xl-row justify-content-evenly align-items-center">
            <li class="list-unstyled">
              <a class="text-decoration-none" href="../index.html">home</a>
            </li>
            <li class="list-unstyled">
              <a class="text-decoration-none" href="destinasion.html">destinasi</a>
            </li>
            <li class="list-unstyled">
              <a class="text-decoration-none" href="view/tips.html">tips</a>
            </li>
            <li class="list-unstyled">
              <a class="text-decoration-none" href="#home">blog</a>
            </li>
          </ul>
        </nav>
        <div>
          <a href="https://api.whatsapp.com/send/?phone=%2B6281262156159&text=Halo+FrogTel&type=phone_number&app_absent=0" class="btn py-2 px-3 fw-medium text-light">Contact</a>
        </div>
      </section>
    </header>
    <main class="container-fluid">
      <section>
        <div>
          <h3>Tips ala Dalan biar liburan kamu lebih asik, memorable, dan simple tentunya.</h3>
        </div>
        <div class="mt-5 px -5">
          <ol>
            <li class="fs-3 fw-semibold">
              <div>
                <h4 class="fw-semibold">Persiapkan dana pengeluaran untuk tiket, biaya hidup, dan  dana darurat.</h4>
              </div>
              <div class="row justify-content-between mt-3">
                <div class="col-xxl-9 col-xl-9 col-lg-8  col-md-12">
                  <h5 class="fw-normal">Agar tidak mengganggu cash flow kamu, ada baiknya persiapkan dana untuk travelling jauh-jauh hari sebelum waktu rencana keberangkatanmu, terutama bagi kamu yang memang memiliki hobi tavelling. Usahakan tidak mengeluarkan uang lebih dari anggaran yang telah kamu persiapkan sejak awal, sehingga tidak mengganggu anggaran lainnya. Kamu boleh menabung 3 bulan, 6 bulan sebelumnya, atau lebih. Berangkat liburan secara mendadak dengan memanfaatkan pendapatan kamu sebulan, hanya akan membuat kamu ‘tekor’ alias akhir bulan hanya makan mie instan! Dan JANGAN GUNAKAN cicilan kartu kredit untuk membiayai liburanmu, pokoknya jangan!</h5>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-6 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3">
                  <img class="img-fluid" src="../asset/tips1.webp" alt="">
                </div>
              </div>
            </li>
            <li class="fs-3 fw-semibold mt-5">
              <div>
                <h4 class="fw-semibold">Hindari musim liburan</h4>
              </div>
              <div class="row justify-content-between mt-3">
                <div class="col-xxl-9 col-xl-9 col-lg-8  col-md-12">
                  <h5 class="fw-normal">Saat musim liburan atau high season, harga barang dan jasa akan naik pada hampir semua tempat wisata. Oleh karena itu, selain dapat menikmati tempat liburan dengan lebih nyaman karena lokasi cenderung lebih sepi pengunjung, ada baiknya kamu berangkat saat low season karena harga yang ditawarkan biasanya lebih murah.</h5>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-6 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3">
                  <img class="img-fluid" src="../asset/tips2.webp" alt="">
                </div>
              </div>
            </li>
            <li class="fs-3 fw-semibold mt-5">
              <div>
                <h4 class="fw-semibold">Manfaatkan free Wifi</h4>
              </div>
              <div class="row justify-content-between mt-3">
                <div class="col-xxl-9 col-xl-9 col-lg-8  col-md-12">
                  <h5 class="fw-normal">Pilih dan tulis daftar tempat yang ingin kamu kunjungi pada kota tujuanmu. Lakukan survei tempat menarik melalui beberapa review yang ada di beberapa situs internet atau mobile apps yang tersedia. Hindari memilih tujuan secara mendadak saat hari H, karena hal tersebut akan membuang sia-sia lebih banyak waktu liburanmu. Sebaiknya hindari pula memilih terlalu banyak tujuan, karena selain menghabiskan banyak energi, mengunjungi terlalu banyak tempat juga memakan lebih banyak biaya. Apa lagi kalau kamu sampai jatuh sakit karena kelelahan. Wah, malah bisa makan lebih banyak biaya, kalau sampai berobat ke rumah sakit segala!</h5>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-6 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3">
                  <img class="img-fluid" src="../asset/tips3.webp" alt="">
                </div>
              </div>
            </li>
            <li class="fs-3 fw-semibold mt-5">
              <div>
                <h4 class="fw-semibold">Tentukan destinasi sebelum berangkat</h4>
              </div>
              <div class="row justify-content-between mt-3">
                <div class="col-xxl-9 col-xl-9 col-lg-8  col-md-12">
                  <h5 class="fw-normal">Pilih dan tulis daftar tempat yang ingin kamu kunjungi pada kota tujuanmu. Lakukan survei tempat menarik melalui beberapa review yang ada di beberapa situs internet atau mobile apps yang tersedia. Hindari memilih tujuan secara mendadak saat hari H, karena hal tersebut akan membuang sia-sia lebih banyak waktu liburanmu. Sebaiknya hindari pula memilih terlalu banyak tujuan, karena selain menghabiskan banyak energi, mengunjungi terlalu banyak tempat juga memakan lebih banyak biaya. Apa lagi kalau kamu sampai jatuh sakit karena kelelahan. Wah, malah bisa makan lebih banyak biaya, kalau sampai berobat ke rumah sakit segala!</h5>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-6 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3">
                  <img class="img-fluid" src="../asset/tips4.webp" alt="">
                </div>
              </div>
            </li>
            <li class="fs-3 fw-semibold mt-5">
              <div>
                <h4 class="fw-semibold">Gunakan uang dengan bijak</h4>
              </div>
              <div class="row justify-content-between mt-3">
                <div class="col-xxl-9 col-xl-9 col-lg-8  col-md-12">
                  <h5 class="fw-normal">Jika tujuanmu adalah refreshing dari rutinitas setiap hari, alangkah baiknya jika kamu tidak menjadikan belanja sebuah prioritas. Sering kali kita lapar mata saat mengunjungi pusat perbelanjaan, terutama jika sedang BIG SALE. Terkadang, ‘penyakit’ kita adalah tergoda untuk membeli barang dengan harga miring tanpa memikirkan kegunaan barang tersebut ke depannya. Usahakan lebih menahan diri dan bertanggung jawab atas barang yang telah kamu beli. Lebih baik lagi jika kamu membatasi anggaran berbelanja selama liburan menjelang keberangkatan, serta mencatat dengan rinci setiap pengeluaranmu sekecil apapun nilainya.</h5>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-5 col-sm-6 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3">
                  <img class="img-fluid" src="../asset/tips5.webp" alt="">
                </div>
              </div>
            </li>
          </ol>
        </div>
      </section>
    </main>
  </div>
  <footer class="container-fluid my-5">
    <section class="w-100 h-100 rounded-5 d-flex flex-column flex-wrap justify-content-between text-light pt-4 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-5">
      <div class="d-flex flex-xxl-row flex-xl-row flex-lg-column justify-content-between align-items-start">
        <div>
          <div>
            <h1 class="title2">D<span class="fw-bold">alan</span></h1>
          </div>
          <div>
            <h3 class="fw-normal">Kapan lagi bisa keliling Nusantara</h3>
          </div>
        </div>
        <div>
          <div>
            <h4>Contact</h4>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <div>
              <i class="bi bi-envelope-fill d-flex justify-content-center align-items-center fs-4"></i>
            </div>
            <div>
              <h5 class="fw-light ms-3">dalan@gmail.com</h5>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-center mt-3">
            <div>
              <i class="bi bi-telephone-fill d-flex justify-content-center align-items-center fs-4"></i>
            </div>
            <div>
              <h5 class="fw-light ms-3">+62 1234 5678</h5>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h4>Company</h4>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start my-3">
            <a class="fw-light text-light text-decoration-none">Career</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start">
            <a class="fw-light text-light text-decoration-none">Developer</a>
          </div>
        </div>
        <div>
          <div>
            <h4>Company</h4>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a class="fw-light text-light text-decoration-none">home</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a class="fw-light text-light text-decoration-none">destinasi</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a class="fw-light text-light text-decoration-none">tips</a>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-start mt-3">
            <a class="fw-light text-light text-decoration-none">blog</a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center border-top mt-5 py-4">
        <div>
          <h5>© 2023 Ketjeh Nusantara</h5>
        </div>
        <div class="d-flex justify-content-evenly align-items-center w-25">
          <i class="bi bi-instagram d-flex justify-content-center align-items-center fs-5"></i>
          <i class="bi bi-twitter d-flex justify-content-center align-items-center fs-5"></i>
          <i class="bi bi-youtube d-flex justify-content-center align-items-center fs-5"></i>
          <i class="bi bi-facebook d-flex justify-content-center align-items-center fs-5"></i>
        </div>
      </div>
    </section>
  </footer>
  <script src="../js/header.js"></script>
</body>
</html>